/* $color1: #00EE6Eff; */
/* $color2: #02DA82ff; */
/* $color3: #04C696ff; */
/* $color4: #06B2AAff; */
/* $color5: #089DBEff; */
/* $color6: #0A89D2ff; */
/* $color7: #0C75E6ff; */

body {
    background-image: linear-gradient(gainsboro, floralwhite);
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

.dashboard {
    border: 2px solid floralwhite;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gainsboro;
}
    
.header { 
    text-shadow: 1.5px 1.5px 2px floralwhite;
    grid-area: 1 / 1 / 2 / 5; 
}
    
.user-info { 
    grid-area: 2 / 1 / 3 / 2; 
}
    
.activity { 
    grid-area: 2 / 2 / 3 / 3; 
}
    
.hydration { 
    grid-area: 2 / 3 / 3 / 4; 
}
    
.sleep { 
    grid-area: 2 / 4 / 3 / 5; 
 }  
    
/* .dashboard {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
} */
    
.widget {
    font-size: 16px;
    margin: 5px 20px;
    padding: 10px;
    background-color: floralwhite;
    border: 1.5px solid gainsboro;
    border-radius: 10px;
}

.info-header {
    font-size: 30px;
    text-shadow: 1.5px 1.5px 2px gainsboro;
    margin: 10px; 
    padding: 10px 20px; 
    background-color: floralwhite;
    border: 2.5px solid gainsboro;
    border-radius: 10px 10px 20px 20px;
    text-align: center; 
    letter-spacing: .20em;
}

.user-info {
    background-color: #00EE6Eff;
}

.activity {
    background-color: #04C696ff;
}

.hydration {
    background-color: #089DBEff;
}

.sleep {
    background-color: #0C75E6ff;
}